$img_path: '../img';

html.aui body[class] {
	div#content > nav#breadcrumbs {
		display: none;
		opacity: 0;
	}
		
	.portlet-body {
		padding: 0 !important;
		.alert {
		    /*display: none;*/
		}
		.navigation {
			background: transparent;
		}
	}
}
#materialize-body {
	p {
		line-height: 2rem;
	}
	
	.container {
		width: 85%;
	}

	.icon-block {
		font-family: inherit;
	}
	
	.icon-block img {
		width: 48px;
		height: 48px;
		display: block;
		margin: 0 auto;
	}
	
	.card .card-title {
		width: 100%;
		font-weight: bold;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
		
	h2 a {
		color: inherit;
	}
	
	h2 a:hover {
		text-shadow: 4px 4px 5px rgba(200, 200, 200, 0.5);
	}
	
	.margin-vertical {
		margin-top: 16px;
		margin-bottom: 16px;
	}
	
	#info {
		background-image: url('#{$img_path}/banner.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		min-height: 350px;
	}
	
	#pilot-unknown {
		background-image: url('#{$img_path}/banner.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		min-height: 350px;
	}
	
	.bg_hover {
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: center;
		display: inline-block;
		height: 216px;
		width: 208px;
	}
		
	#select_bilbao {
		background-image: url('#{$img_path}/bilbao.png');
	}
	#select_bilbao:hover {
		/*background-image: url('#{$img_path}/bilbao_hover.png');*/
	}
	
	#select_helsinki {
		background-image: url('#{$img_path}/helsinki.png');
	}
	#select_helsinki:hover {
		/*background-image: url('#{$img_path}/helsinki_hover.png');*/
	}
	
	#select_novi_sad {
		background-image: url('#{$img_path}/novi_sad.png');
	}
	#select_novi_sad:hover {
		/*background-image: url('#{$img_path}/novi_sad_hover.png');*/
	}
	
	#select_trento {
		background-image: url('#{$img_path}/trento.png');
	}
	#select_trento:hover {
		/*background-image: url('#{$img_path}/trento_hover.png');*/
	}
}

body:after {
	display:none;
	/*content: url('#{$img_path}/bilbao_hover.png') url('#{$img_path}/helsinki_hover.png') url('#{$img_path}/novi_sad_hover.png') url('#{$img_path}/trento_hover.png');*/
}


/**** CARGA DE FUENTES ****/
@font-face {
    font-family: "Light";
    src: url("./fonts/Roboto-Thin.ttf") format("opentype");
}
@font-face {
    font-family: "Regular";
    src: url("./fonts/Roboto-Light.ttf") format("opentype");
}
@font-face {
    font-family: "Bold";
    src: url("./fonts/Roboto-Regular.ttf") format("opentype");
}
@font-face {
    font-family: "Bolder";
    src: url("./fonts/Roboto-Bold.ttf") format("opentype");
}
body {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    height: 100%;
    background-color:#CCC;
}
h1, h2, h3{
	text-decoration:none;
    font-weight: initial;
    font-size: initial;
    margin: initial;
    padding: initial;
}

a:link {
    text-decoration: none;
    color:white;
}

a:visited {
    text-decoration: none;
    color:white;
}

a:hover {
    text-decoration: none;
    color:white;
}

a:active {
    text-decoration: none;
    color:white;
}

.bloque1, .bloque2, .bloque3, .bloque4, .bloque5, .bloqueCentral, .bloquefin{
	width: 100%;
	background-size: cover;
	margin-left:auto;
	margin-right:auto;
    background-position: center;
}
.bloque1{
	/*background-image: url("../img/controller/portada.jpg");*/
	background-image: url("../img/controller/portada_clara_cortado.jpg");
	position: relative;
	max-width:100%;
    max-height:85vh;
	min-height: 630px;
}

.bloque2{
    background-color: #f3f3f3;
	max-width:100%;
    position: relative;
    padding-bottom:50px;
}

#bloque6{
	border-bottom:0px;
}

.bloqueNormal{
    max-width: 100%;
    position: relative;
    padding-top: 70px;
    padding-bottom: 70px;
    border-bottom: 1px solid #d6d6d6;
}

.bloquefin{
    background-image: url(../img/controller/banner.png);
    height: 200px;
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: white;
	max-width: 100%;
}

.bloqueCentrado{
    position: relative;
    text-align: center;
    font-size:0;
    max-width: 1200px;
    margin-left:auto;
	margin-right:auto;
}

.centrado{
	margin-left:auto;
	margin-right:auto;
	max-width:90%;
   	text-align: center;
}
.derecha{
	text-align: right;
}
.izquierda{
	text-align:left;
	
}
.textoTitulo{
	font-family:"Regular";
	font-size:35px;
	line-height:45px;
	color: #303030;
}

.textoDelgado{
	font-family: "Regular";
    font-size: 25px;
	line-height:40px;
	color: #303030;
}
.textoPortada{
	font-family:"Bold";
	font-size:45px;
	line-height:60px;
	color: #303030;
}

.titDelgado{
	font-family: "Regular";
    font-size: 20px;
	line-height:70px;
	color: #303030;
}

.textoNormal{
	font-family:"Bold";
	font-size:15px;
	line-height:20px;
	color: #303030;	
}

.textoCursiva{
    font-family: "Bold";
    font-size: 14px;
    line-height: 20px;
    color: #303030;
    font-style: italic;
}
.disabled{
	background-color: #dfdfdf!important;
    box-shadow: none;
    color: #9f9f9f!important;
    cursor: default;
}
.cabeceratarjeta16{
	float:left;
    width: 16.66667%;
    margin-left: auto;
    left: auto;
    right: auto;	
    display: inline-block;
}
.cuerpotarjeta16{
	margin-top: 20px;
	float:left;
    width: 16.66667%;
    margin-left: auto;
    left: auto;
    right: auto;	
    display: inline-block;
}
.cabeceratarjeta33{
	float:left;
    width: 33.3333%;
    margin-left: auto;
    left: auto;
    right: auto;	
    display: inline-block;
}
.cabeceratarjeta33img{
   
	display: inline-block;
    width: 33.3333%;
    max-height: 120px;
    min-height: 120px;
    margin-top: 20px!important;
    float: left;
    overflow: hidden;       
}
.cabeceratarjeta66{
  
    width: 66.66667%;
    margin-left: auto;
    left: auto;
    right: auto;
    display: inline-block;
    font-size: 18px;
   
}
.cuerpotarjeta66{
   margin-top: 20px;
    width: 66.66667%;
    margin-left: auto;
    left: auto;
    right: auto;
    display: inline-block;
   
}
.truncar{
  line-height: normal;
}
.textellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.linkazul{
	color: #6fafda!important; 
    font-size: 14px;
    
}
.iconaStato{
	padding-left: 7px;
    //padding-right: 10px;
}
.center-align {
    text-align: center;
}
.icon-angle-right {
    content: "\f105";        
    font-size: 18px;
}
.divcard50{
	width:45%;
    width: calc(50% - 20px);
    display: inline-block;
    text-align: center;
    vertical-align: top;
 }
 .votoMedio {
 width: 14px; 
 height: 14px;
 
 }
 .divcard33{
	width:30%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
 }
.card-multi-title {
    font-size: 1.4em;
    height: 78px; 
    line-height: 35px!important; 
    overflow: hidden;
}
.cabeceraTarjeta {
    color: white;
    text-align: center;
    padding: 10px;
    font-family: Bold;
    font-size: 25px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.25);
    text-shadow: none;
}
.card-multi-title {
    font-size: 18px;
    height: 78px; 
    line-height: 35px!important; 
    overflow: hidden;
}
.white-text {
    color: #fff!important;
}
.grey-text {
    color: #9e9e9e!important;
}
.grey-text.text-darken-18 {
	font-size: 18px;
    color: #616161!important;
}
.grey-text.text-darken-16 {
	font-size: 16px;
    color: #616161!important;
}
.footer-card {
    border-radius: 0 0 2px 2px!important;
    padding: 10px 0;
    background-color: #616161!important;
}
.divider {
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
}
.card-content {
    padding: 20px;
    border-radius: 0 0 2px 2px;
}
.titTarjeta{
    font-family: "Bold";
    font-size: 25px;
    line-height: 30px;
    color: #4d4d4d;
    margin-top: 10px;
    height:30px;
    overflow:hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;    
    padding-left: 10px;
    padding-right: 10px;
}
.tipoTarjeta{
    font-family: "Bolder";
    font-size: 20px;
    line-height: 30px;
    color: #4d4d4d;
    margin-top: 10px;
    height:30px;
    overflow:hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;     
}
.textoTarjeta{
    font-family: "Bold";
    font-size: 15px;
    line-height: 20px;
    color: #4d4d4d;
    margin-top: 10px;
    height:80px;
    overflow:hidden;
    padding-left: 10px;
    padding-right: 10px;
}
.paddingAll {
    padding: 2px .75em;
    margin-top: 10px;
    margin-bottom: 10px;
}
.sectionCardTags{
	overflow: hidden;
    max-height: 36px;
    min-height: 36px;
}
.LikesTarjeta{
	font-family:"Bolder";
	font-size:20px;
	line-height:30px;
	color: #4d4d4d;	
	margin-top: 10px;
	text-align: center;
}
.titulo{
    padding-top: 20px;
    padding-bottom: 20px;
}
.seccion{
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
}
.tarjeta{
    box-shadow: 2px 2px 6px #4d4d4d;
    margin: 10px;
    //padding: 10px;
    //padding-bottom: 10px;
    text-align: left;
}
.tarjeta:hover{
    box-shadow: 1px 1px 4px #4d4d4d;
	//cursor:pointer;
	//cuerso:hand;
}
.imgTarjeta{
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height:250px;
}
.margenTitulo{
	padding-top:80px;
	padding-bottom:300px;
    text-shadow: 1px 1px white;
}
.margenDiv25{
	margin-left:30px;
	margin-right:30px
}
.margenCentrado{
	width:600px;
	margin-left:auto;
	margin-right:auto;
    margin-bottom: 50px;
    max-width: 90%;
}

.iconRedondoGr{
    background-color: #4d4d4d;
    height: 90px;
    width: 90px;
    border-radius: 100% !important;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: 45px;
    background-position: center;
}
.fotoPerfil{
    position: absolute;
    left: 10px;
    height: 60px!important;
    width: 60px;
    border-radius: 100%!important;
}
.textoPerfil{
	padding-left:85px;
	position:relative;
}
.fotoPilot{
    height: 60px !important;
    width: 60px;
    border-radius: 100% !important;
    display:block;
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;	
}
.iconLike{
    width: 25px;
    margin-left: 5px;
    margin-top: -5px;
}
.imgtitulo{
    max-width: 100px;
    width:25%;	
}
.letratitulo{
	max-width: 250px;
	width:75%;
    padding: 20px;	
}

.boton{
    max-width: 290px;
    width: 90%;
    background-color: #6FAFDA;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: Bold;
    font-size: 14px;
    border-radius: 2px;    
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.25);
    text-shadow: none;
}
.botongris{
    background-color: gray;
}

.botonPilot{
    display: inline-block;
    width: 115px;
    height: 100px;
    text-align: center;
    vertical-align: top;
    box-shadow: 2px 2px 6px #4d4d4d;
    margin: 10px;
}

.botonDownload{
	width:150px;
	display:block;
}
.iconWelive{
	width:150px;
	margin-top:10px;
	margin-bottom:10px;
	display:block;
}


.iconoboton{
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 26px 10px;	
}
.boton:active, .botonPilot:active {
    background-color: #239BFF !important; /*ENFASIS 100% LUMINOSIDAD*/
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !important; /*sombra3*/
}
.botonDownload:hover, .botonPilot:hover, .boton:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !important; /*sombra3*/
    cursor: pointer; 
    cursor: hand;
}
.botonTitulo{
	margin-top: 40px;
	margin-left: auto;
    margin-right: auto;	
}


.containerTitulo2{
	padding-top: 50px;
    padding-bottom: 20px;
}
.div25{
	display: inline-block;
    width: 25%;
    min-width: 180px;
   	text-align:center;	
   	height: 270px;
   	vertical-align:top;
}

.div33{
	display: inline-block;
    width: 33%;
    min-width: 300px;
   	text-align:center;	
   	vertical-align:top;
}

.div50{
	display: inline-block;
    width: 50%;
    min-width: 300px;
   	text-align:center;	
   	vertical-align:top;
}

.imagen50{
    width: 90%;
    height: 50vh;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}

.arrowDown{
    position: absolute;
    width: 30px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 5px;
    
}

.selectorPilot{
    position: fixed;
    display:block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
}

.popupSelector{
    background-color: white;
    width: 300px;
    height: 500px;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    padding: 10px;
    box-shadow: 2px 2px 8px #4d4d4d;
}
.underConstructionSelector{
	
    background-color: white;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    padding: 10px;
    box-shadow: 2px 2px 8px #4d4d4d;
}
.selectedPilot{
	background: rgba(0,0,0,0.5); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0));
    color:white;
    padding:10px;
    position:absolute;
    right:0;
    left:0;
    top:0;
    text-align:right;
	display:none;
}
#pilotArrow{
    position: fixed;
    z-index: 100;
    top: 25px;
    left: 180px;
	
}
.divPilotSelect{
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 5px;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    display:none;
}
.pilotText{
    font-size: 16px;
    display: block;
    line-height: 22px;
    color: #6FAFDA;
    padding: 14px 16px;
    min-width: 200px;	
}
.pilotText:hover{
    background-color: lightgrey;

}

.iconllave{
    background-image: url(../img/controller/icon-llave.png);
}

.iconphone{
    background-image: url(../img/controller/icon-phone.png);
}

.iconidea{
    background-image: url(../img/controller/icon-idea.png);
}

.iconheart{
    background-image: url(../img/controller/icon-heart.png);
}
.chartCabecera{
    background-color: #d6d3d3;
    color: #433e3e;
    line-height: 50px;
    height: 50px;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 50px;
    border-radius: 0 !important;
}
.unidadesValue {
    font-size: 15px;
    line-height: 50px;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.valorValue {
	font-size: 40px;
    /*font-size: 46px;*/
    font-weight: bold;
    line-height: 70px;
    height: 70px;
}
.contenedorAdmin {
	float:left;
	width:20%;
}
.contenedorNoAdmin {
	float:left;
	width:20%;
}
.contenedorValue {
    text-align: center;
    background-color: #d6d3d3;
    color: #433e3e;
    margin: 10px;
    margin-top: 0 
    
}
.cabeceraValue {
    /*font-size: 15px;*/
    font-size: 18px;
    line-height: 50px;
    height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 5px;
}
.chartContainer {
    position: relative;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    overflow: hidden;
    margin: 10px;
}
.chartBody {
    /*height: 205px;*/
    margin: 10px;
}
.fijo {
	position:fixed !important;
	 border: 5px solid red;
	 top:75px; 
	 z-index:10 !important;
	 background-color: white;

    font-size: 30px;
    color: red;
    font-weight: bold;
    margin: 5px;
    padding: 10px;
}
@media (max-width: 600px) {
.textoTitulo {
    font-size: 30px;
    line-height: 40px;
}
.textoDelgado {
    font-size: 20px;
    line-height: 30px;
}	
.textoPortada {
    font-size: 30px;
    line-height: 45px;
}


}

