/**** CARGA DE FUENTES ****/
@font-face {
    font-family: "Open Sans";
    src: url("./fonts/OpenSans-Regular.ttf") format("opentype");
}
@font-face {
    font-family: "Open Sans Bold";
    src: url("./fonts/OpenSans-Semibold.ttf") format("opentype");
}
@font-face {
    font-family: "Open Sans ExtraBold";
    src: url("./fonts/OpenSans-ExtraBold.ttf") format("opentype");
}

body {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    height: 100%;
    background-color:#CCC;
}
h1, h2, h3{
	text-decoration:none;
    font-weight: initial;
    font-size: initial;
    margin: initial;
    padding: initial;
}

a:link {
    text-decoration: none;
    color:white;
}

a:visited {
    text-decoration: none;
    color:white;
}

a:hover {
    text-decoration: none;
    color:white;
}

a:active {
    text-decoration: none;
    color:white;
}

.bloque1, .bloque2, .bloque3, .bloque4, .bloqueCentral, .bloquefin{
	width: 100%;
	max-width:900px;
	background-size: cover;
	margin-left:auto;
	margin-right:auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.bloque1{
	background-image: url("trento.jpg");
	padding-bottom:150px;
	position: relative;
}

.bloque2{
    background-image: url(personalized.jpg);
    padding-bottom: 250px;
    margin-top: 10px;
    position: relative;
}

.bloque3{
	background-image: url("../img/bloque3.png");
	padding-bottom:70px;
}

.bloqueCentral{
	background-color:white;
	width: 100%;
}

.bloquefin{
    background-image: url(banner.png);
    height: 150px;
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: white;
}

.centrado{
	margin-left:auto;
	margin-right:auto;
}

.titulo{
    width:90%;
	padding-top:40px;
	text-align:center;
}
.imgtitulo{
    max-width: 100px;
    width:25%;	
}
.letratitulo{
	max-width: 250px;
	width:75%;
    padding: 20px;	
}

.boton{
    max-width: 250px;
    width: 90%;
    background-color: #00a4ff;
    color: white;
    text-align: center;
    padding: 15px;
    font-family: "Open Sans";
    font-size: 20px;
    border-radius: 2px;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.25);
}
.boton:active {
    background-color: #239BFF !important; /*ENFASIS 100% LUMINOSIDAD*/
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !important; /*sombra3*/
}
.containerTitulo{
	padding-top: 150px;
    padding-bottom: 20px;
}
.containerTitulo2{
	padding-top: 50px;
    padding-bottom: 20px;
}
.botonTitulo{
	margin-top: 100px;
	margin-left: auto;
    margin-right: auto;	
}

.boton450{
	margin-top: 200px;
	margin-left: auto;
    margin-right: auto;	
}
.tituloBlanco, .tituloNegro{
	max-width: 90%;
    text-align: center;
    font-size: 40px;
    font-family: "Open Sans";
}
.textoBlanco, .textoNegro{
	max-width: 90%;
    text-align: center;
    font-size: 20px;
    font-family: "Open Sans";
}
.tituloBlanco, .textoBlanco{
    color: white;
    text-shadow: 2px 2px black;
}
.tituloNegro,.textoNegro{
    color: black;	
    text-shadow: 2px 2px white;
}
.textobold{
	max-width:90%;
	text-align:center;
    font-size: 30px;
    font-family: "Open Sans ExtraBold";
    color: #555;
    padding-bottom: 20px;	
}
.textomedio{
	height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-family: "Open Sans";	
    color:white;	
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.textopequeno{
	width: 95%;
    max-width: 500px;
   	text-align:center;
    font-size: 16px;
    font-family: "Open Sans";
    color: #555;
    padding-bottom: 20px;	
}

.textofin{
	width: 96%;
   	text-align:center;
    font-size: 16px;
    font-family: "Open Sans";
    color: white;
    padding-left: 2%;	
    padding-right: 2%;	
	padding-bottom: 3px;
    padding-top: 3px;    
}
.divfin{
	display:inline;
	padding-right:20px;
	padding-left:20px;
	min-width:100px;
	text-align:center;	
}

.div50{
	float:left;
	width:50%;
	text-align:center;	
}

.imgicons{
    max-width: 90px;
    width:40%;	
    padding:20px;
}

.imgcentral{
    padding-top: 50px;
    max-width: 400px;
    width: 70%;
    display: block;
}

.divcentrodrh{
	width:95%;
	max-width:370px;
}
.imgmedio{
    height: 40px;
	vertical-align: middle;
	padding-right:10px;
}

.imgmovil{
	display:block;
	width:100%;
	max-width:500px;
	top:-50px;
	position:relative;
}

.imgcentro{
	display:block;
	width:90%;
	max-width:350px;
	padding-bottom:20px;
	position:relative;
}

.imgbloque{
	display:block;
	width:100%;
	position:relative;
 padding-top:8px;
}

.iconcentro{
	display:block;
	padding:20px;
	width:70px;
	position:relative;
}
.sombra{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.bloque{
	height:600px;
	position: relative;
}
.bloqueTitulo{
	height:150px;
}
.bloqueSinTitulo{
	height:450px;
    position: relative;
}
.div50{
	float:left;
	width:50%;
}
.imagen50{
	width: 100%;
	height:590px;
	margin-top:10px;
	max-width:900px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
	margin-left:auto;
	margin-right:auto;
}

.imagenSinTitulo{
	height:440px;
}

.imagenLogo{
    height: 175px;
    max-width: 550px;
}
.ArrowDown{
    position: absolute;
    width: 30px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 5px;
}

@media (max-width: 600px) {
.tituloBlanco, .tituloNegro{
    font-size: 25px;
}
.textoBlanco, .textoNegro{
    font-size: 15px;
}
	
}
